@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    background-color: #303F9F;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin: 0;
}

header {
    background-color: #3949AB;
    padding-top: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    text-align: center;

    a {
        text-decoration: none;
        margin: 0;
        color: white;
        text-decoration: none;
        font-size: 300%;
        font-weight: bold;

        &#front-title {
            font-size: 600%;
        }
    }
}

@media only screen and (max-width: 872px) {
     header {
         a {
             #front-title {
                 font-size: 11vw;
             }
         }
     }
 }
